{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Edit Student: {{ student.firstName }} {{ student.lastName }}</h1>

    <form method="POST">
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name" class="form-control" value="{{ student.firstName }}" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" class="form-control" value="{{ student.lastName }}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control" value="{{ student.email }}" required>
        </div>
        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
     <!-- Back button -->
     <a href="{{ url_for('manage_students', class_name=class_name) }}" class="btn btn-secondary">Back to Manage Students</a>
</div>
{% endblock %}
